# Build directory
dist/
dll/
.git/
node_modules/
images/
public/
flashAssets/
.linaria-cache/

# NPM files
package.json
package-lock.json

# Tools config
.eslintignore
.babelrc
.huskyrc
.gitignore
.prettierignore
.linariarc
.stylelintrc
*.MD
commit.json

# Templete
*.html

#static
*.swf
*.png